// Template
@mixin grid-template
  @for $column from 1 through $max-columns
    &_#{$column}
      grid-template-columns: repeat($column, 1fr)
  @each $breakpoint, $value in $breakpoints
    @for $column from 1 through $max-columns
      &_#{$breakpoint}-#{$column}
        @include media($breakpoint)
          grid-template-columns: repeat($column, 1fr)

@mixin grid-template-helpers
  @each $breakpoint, $value in $breakpoints
    &._align-center-#{$breakpoint}
      @include media($breakpoint)
        align-items: center
    &._align-stretch-#{$breakpoint}
      @include media($breakpoint)
        align-items: stretch

// Cells
@mixin grid-cell
  @for $column from 1 through $max-columns
    &_#{$column}
      grid-column: span $column
  @each $breakpoint, $value in $breakpoints
    @for $column from 1 through $max-columns
      &_#{$breakpoint}-#{$column}
        @include media($breakpoint)
          grid-column: span $column

@mixin grid-cells-helpers
  @each $breakpoint, $value in $breakpoints
    &._align-center-#{$breakpoint}
      @include media($breakpoint)
        align-self: center
    &._align-stretch-#{$breakpoint}
      @include media($breakpoint)
        align-self: stretch